<!DOCTYPE html>
<html lang="en" ng-app="listIt" data-framework="firebase" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="expires" content="0"/>
	<meta http-equiv="cache-control" content="max-age=0"/>
	<meta http-equiv="expires" content="-1"/>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List-it</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css"
		  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.1/dist/instantsearch.min.css">
	<link rel="stylesheet" type="text/css"
		  href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.1/dist/instantsearch-theme-algolia.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css">

	<style>[ng-cloak] {
		display: none;
	}</style>
</head>

<body ng-controller="listItCtrl">
<!--header and app declaration-->

<div class="p-3 mb-2 text-white" style="background-color: #009688; overflow: hidden; position: fixed; top: 0px; width: 100%; z-index: 9999" id="myHeader">
	<div class="row">
		<img src="img/todo-llist.png" style="margin-left: 10px"/>
		<div class="col-10">
			<h1>List-it application</h1>
			<h6>We help you save places you visit for your events</h6>
			<h6>and facilitate your selection process with our search options </h6>
		</div>
		<div class="menu" style="margin-left: auto; margin-right: 20px" ng-controller="listItCtrl">
			<ul>
				<li><a href="index.html">Add a new place</a></li>
				<li><a href="" ng-click="gotoAnchor('searchPlaces')">Search for places</a></li>
				<li><a href="" ng-click="gotoAnchor('help')">Help</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="container">
	<div class="card" style="margin-top: 220px">
		<div class="card-header"> Add the new place information in the form below
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-lg-1"></div>
				<form style="width:80%; margin-top:15px;" id="listform" ng-submit="addPlace()"
					  onSubmit="alert('Successfully added. '); document.forms['listform'].reset();window.location.reload(true); ">
					  <div class="form-group row">
						<label for="title" class="col-3 col-form-label">Enter title of place <span
								style="color:red; font-size: x-small;">*</span> </label>
						<div class="col-9">
							<input class="form-control" id="title" placeholder="Title - required field (*) "
								   ng-model="title" autofocus required/>
						</div>
					</div>
					<div class="form-group row">
						<label for="placeType" class="col-3 col-form-label">Choose place type <span
								style="color:red; font-size: x-small;">*</span>
						</label>
						<div class="col-9">
							<select id="placeType" class="form-control" ng-model="placeType"
									required>
								<option ng-repeat="option in placeTypes" value="{{option}}">{{option}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="dateVisitedInput" class="col-3 col-form-label">Date of visited </label>
						<div class="col-9">
							<input class="form-control" type="date" id="dateVisitedInput"
								   placeholder="Pick the date you visited it"
								   ng-model="dateVisited" >
						</div>
					</div>

					<div class="form-group row">
						<label for="priceInput" class="col-3 col-form-label">Price </label>
						<div class="col-9">
							<input class="form-control" type="number" min="0" id="priceInput"
								   placeholder="Price of the place"
								   ng-model="price"
								   >
						</div>
					</div>
					<div class="form-group row">
						<label for="phone" class="col-3 col-form-label">Telephone of contact point </label>
						<div class="col-9">
							<input class="form-control" id="phone" min="0" type="number" placeholder="123-456-7890"
								   ng-model="phone"
							>
						</div>
					</div>
					<div class="form-group row">
						<label for="emailContact" class="col-3 col-form-label">Email of contact point </label>
						<div class="col-9">
							<input class="form-control" id="emailContact" type="email" placeholder="Email for contact "
								   ng-model="emailContact">

						</div>
					</div>

					<div class="form-group row">
						<label for="autocomplete" class="col-3 col-form-label">Address </label>
						<div class="col-9">
							<input class="form-control" id="autocomplete" placeholder="Enter address of the place"
								   ng-model="address"
								   onFocus="geolocate()" type="text">
						</div>
					</div>

					<div class="form-group row">
						<label for="notes" class="col-3 col-form-label">Description </label>
						<div class="col-9">
				<textarea class="form-control" id="notes" placeholder="What do you think about this place"
						  ng-model="notes"
						  > </textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-3"></div>
						<div class="col-9">
							<button class="btn btn-primary btn-block"
									style="margin-top:15px;margin-bottom:15px; background-color: #3369E7" type="submit">
								Save It
							</button>
						</div>

					</div>
				</form>
				<div class="col-lg-1"></div>
			</div>
		</div>
	</div>
</div>
<section id ="searchPlaces" ng-controller="listItCtrl">
		<div class="container mt-3">
		<div class="card">
			<div class="card-header"> Search and filter saved places here</div>
			<div class="card-body">
				<header>
					<div class="row">
						<div class="col-8">
							<div class="input-group">
								<input id="search-input" class="form-control" placeholder="Search for a place" ng-model="search" >
								<img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" style="margin-left: 35%;
								float: right; width: 40px; margin-bottom: 3px" />
							</div>
						</div>
					</div>
				</header>
				<main style="min-height: 700px">
					<div id="left-column">
						<div id="clear-all"></div>
						<div id="type">
						</div>
						<div id="priceTitle" class="facet"></div>
						<div id="price-range" class="facet"></div>
						<div id="date" class="facet"></div>
					</div>
					<div id=right-column>
						<div id="stats"></div>
						<div id="active-filters"></div>
						<h2 class="w3-xx-large w3-text-teal">List of visited places</h2>
						<div id="hits"></div>
						<div id="pagination"></div>
					</div>
				</main>
			</div>
		</div>
	</div>


	<script type="text/html" id="hit-template">

		<div class="container">
			<div class="hit">
				<div class="container">
					<a title="Delete" id="delete-row" class="w3-delete w3-button w3-right w3-hover-grey"  ng-click="removePlace(placeId)"><i class="fa fa-remove"   style="font-size:12px;color:red"></i></a>
					<input class="placeId" style="display: none" type="text" name="input" ng-model="placeId"
						   value={{objectID}} ng-trim="false">
					<h3 class="w3-teal">{{title}}</h3>
					<h5>{{placeType}}</h5>
					<h6>Visited on {{dateVisited}}</h6>
					<p class="hit-description">
						<a class="w3-text-blue " href="https://www.google.com/maps/search/?api=1&{{address}}"
						   target="_blank">{{address}}</a>
					</p>
					<h5 class="w3-teal w3-text-white w3-right hit-price">${{price}}</h5>
					<h4 class="w3-text-teal w3-large">--Contact--</h4>
					<a class="w3-text-blue" href="mailto:{{emailContact}}">{{emailContact}} | </a>
					<a class="w3-text-blue " href="tel:{{telephone}}">{{telephone}}</a>
					<h5 class="w3-text-teal">--Notes-</h5>
					<p class="hit-description">{{{_highlightResult.notes.value}}}</p>
				</div>
			</div>
		</div>
	</script>
	<div>
		<!-- Sort by type Modal -->
		<div id="sortTypeModal" class="modalHelp" style="z-index: 9999">

			<!-- Modal content -->
			<div class="modal-content-help">
				<span class="close-help" id="closeType-help">x</span>
				<p>You can sort the result by type
				</p>
				<ul>
					<li> Click on the type you want use to sort the result.</li>
					<li> You can select more than one type.</li>
					<li>The selected types are highlighted in red.</li>
					<li> The number besides each type indicate how many results are found for the type.</li>
					<li>You can click on Clear all to cancel your selection.</li>
					<li> Note that you can combine any of the sorting possibilities</li>
				</ul>
			</div>

		</div>
	</div>

	<div>
		<!-- Sort by price Modal -->
		<div id="sortPriceModal" class="modalHelp" style="z-index: 9999">

			<!-- Modal content -->
			<div class="modal-content-help">
				<span class="close-help" id="closePrice-help">x</span>
				<p>You can sort the result by price
				</p>
				<ul>
					<li> Use the slider to define the price range</li>
					<li> Note that the results shown have their price between the left value of the slider and the right
						value
					</li>
					<li>The selected range is also shown on top of the results</li>
					<li>You can click on Clear all to cancel your selection</li>
					<li> Note that you can combine any of the sorting possibilities</li>
				</ul>
			</div>

		</div>
	</div>

	<div>
		<!-- Sort by Date Modal -->
		<div id="sortDateModal" class="modalHelp" style="z-index: 9999">

			<!-- Modal content -->
			<div class="modal-content-help">
				<span class="close-help" id="closeDate-help">x</span>
				<p>You can sort the result by date
				</p>
				<ul>
					<li> You can specify the period you want results for</li>
					<li> Note that you can combine any of the sorting possibilities</li>
				</ul>
			</div>

		</div>
	</div>

	<div>
		<!-- Sort by price range Modal -->
		<div id="sortRangeModal" class="modalHelp" style="z-index: 9999">

			<!-- Modal content -->
			<div class="modal-content-help">
				<span class="close-help" id="closeRange-help">x</span>
				<p>This option is similar to price
				</p>
				<ul>
					<li> You can now type the price change directly</li>
					<li> Note that the slider is automatically updated to macth your query</li>
					<li>The selected range is also shown on top of the results</li>
					<li>You can click on Clear all to cancel your selection</li>
					<li> Note that you can combine any of the sorting possibilities</li>
				</ul>
			</div>

		</div>
	</div>

</section>

<section id="help">
<div>

		<div class="container mt-3">
		<div class="card">
			<div class="card-header"> Help Section
			</div>
			<p>List it helps you keep details of places you have visited for your events.
			</p>
			<ul>
				<li>You can add a place easily right from the home page.
					<ul>
						<li>You must provide key information about the place</li>
						<li>Just keep in mind that Title and Type are required for adding a place.</li>
						<li>You can save the information you entered by clicking 'Save it' button</li>
					</ul>
				</li>
				<li>You can search between places you have seen using different filters in the left side of the main
					page. If you have any doubt on how the filter works just click the question mark in each section.
				</li>
				<li>
					You can remove the place that you have added via red cross button on the right top of each item
					in the search area.
				</li>
				<li>If you need any additional help please <a style="color: darkblue" href="mailto:aaugust4@gmu.edu">email us
					here</a>.
				</li>
			</ul>
		</div>

	</div>
</div>
</section>

<div class="w3-container white w3-text-white" style="background-color: #009688">
	<h5>List-it — the application to help you track easier the places you visit for your venues</h5>
</div>

<script src="node_modules/todomvc-common/base.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
<script src="firebase-login/config.js"></script>
<script src="node_modules/angularfire/dist/angularfire.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/directives/animation.js"></script>
<script src="js/directives/todoFocus.js"></script>
<script src="js/directives/todoBlur.js"></script>
<script src="js/directives/todoEscape.js"></script>
<script src="js/services/autocompleaddress.js"></script>
<script src="node_modules/algoliasearch/dist/algoliasearch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.5.1"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2fMB-oijLJx9mUVLexvniluMaKL6BR8&libraries=places&callback=initAutocomplete"
		async defer></script>
<script src="js/services/search.js"></script>
<script src="js/services/help.js"></script>
<script src="js/controllers/listItCtrl.js"></script>
</body>
</html>
